@use '../helpers' as *;


.table-of-contents{
    padding: rem(20);
    border-radius: rem(12);
    background-color: var(--color-dark-10);
    color: var(--color-light);
   


    @include laptop{
        border-radius: rem(10);
    }


    .table-of-contents__list{
        display: grid;
        row-gap: rem(20);
        text-wrap: nowrap;


        @include laptop{
            row-gap: rem(12);
        }
    }

    &__item{
        list-style-type: disc;
        margin-left: 1.5em;
    }

    &__body{
        h2,h3,h4,h5,h6{
            &:not(:first-child){
                margin-top: 1.5em;
            }

            &:not(:last-child){
                margin-bottom: 1em;
            }
        }

    }
}