@use '../helpers' as *;


.blog-actions{
    &__list{
        display: flex;
        column-gap: rem(10);

        @include laptop{
            row-gap: rem(8);
        }
    }
    &__button{
        display: inline-flex;
        align-items: center;
        column-gap: rem(4);
        background-color: var(--color-dark-10);
        border-radius: rem(100);
        border: var(--border);
        color: var(--color-gray-60);
        font-size: rem(18);
        font-family: var(--font-family-accent);
        padding: rem(8) rem(16);

        &:nth-child(2n){
            align-items: start;
        }
        
        @include laptop{
            column-gap: rem(2);
            font-size: rem(14);
            padding: rem(6) rem(12);
        }

        &.is-active {
            svg *{
                fill: var(--color-red) !important;
                stroke: var(--color-red) !important;

            }
        }

    }

    .blog-action__icon-wrapper {
        display:flex;
        --size : #{rem(24)};
        @include square(size);


        @include laptop {
            --size : #{rem(20)};
        }

        svg{
            width: 100%;
            height: 100%;

            *{
                fill: transparent;
            }
        }
      }
      &__link{
        align-self: center;
      }
}