@use 'helpers' as *;

:root {
  --color-light : #fff;
  --color-dark : #141414;
  --color-dark-10: #1A1A1A;
  --color-dark-15: #262626;
  --color-dark-20: #333333;
  --color-dark-40: #666666;

  --color-gray-50: #7E7E81;
  --color-gray-60: #98989A;

  --color-accent: #FFD11A;
  --color-red: #ff5500;

  --font-family-base: 'Inter', sans-serif;
  --font-family-accent: 'Kumbh Sans', sans-serif;

  --container-width: #{rem(1600)};
  --container-padding-x: #{rem(16)};
  --border: q
  --transition-duration: 0.2s;
  --gradient : (45deg, var(--color-dark-15) 64%, var(--color-accent) 136%);

  --shadow :0 0 0 #{rem(3)} #191919;

}

@import url(https://fonts.googleapis.com/css?family=Kumbh+Sans:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@include laptop {
  :root {
    --container-width: #{rem(1280)};
  }
}

 